@tailwind base;
@tailwind components;
@tailwind utilities;

.driver-popover.driverjs-theme {
	background-color: transparent;
	color: #fff;
	border: 1px dashed #fff;
	font-family: "Single Day", cursive;
}

.driver-popover.driverjs-theme .driver-popover-title {
	font-size: 24px;
	font-family: "Single Day", cursive;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
	color: #fff;
	font-size: 16px;

	font-family: "Single Day", cursive;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
	gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
	color: #fff;
}

.driver-popover.driverjs-theme
	.driver-popover-arrow-side-left.driver-popover-arrow {
	border-left-color: #fff;
}

.driver-popover.driverjs-theme
	.driver-popover-arrow-side-right.driver-popover-arrow {
	border-right-color: #fff;
}

.driver-popover.driverjs-theme
	.driver-popover-arrow-side-top.driver-popover-arrow {
	border-top-color: #fff;
}

.driver-popover.driverjs-theme
	.driver-popover-arrow-side-bottom.driver-popover-arrow {
	border-bottom-color: #fff;
}

::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px; /* Makes the scrollbar rounded */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
